.menu-bar {
  background-color: #fff;
}

.navbar {
  padding: 0.8rem 2rem;
}

.navbar-brand {
  font-weight: bold;
  color: #2A7B9B;
}

.nav-link {
  color: #5A5A5A;
  font-weight: 500;
  padding: 8px 15px;
}

.nav-link:hover {
  color: #57C785;
}

.navbar-toggler-icon {
  background-color: #2A7B9B;
}

.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
